<p><%= flash[:alert] %></p>
<h2>로그인하기</h2>

<%= form_tag("/users/login_complete", method:"post") do %>
<p>아이디  :</p>	<%= text_field_tag(:username) %>
<p>비밀번호:</p>	<%= text_field_tag(:password) %>
	<%= submit_tag("로그인") %>
<% end%>
