<p><%= flash[:alert] %></p>
<h2>회원 가입하기</h2>
<%= form_tag("/users/signup_complete", method: "post") do %>
<p>아이디:</p>  <%= text_field_tag(:username) %>
<p>비밀번호:</p>  <%= text_field_tag(:password) %>
<p>비밀번호확인:</p>  <%= text_field_tag(:retype_password) %>
  <%= submit_tag("가입") %>
<% end %>
